/* The sidebar menu */
.sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 2; /* Stay on top */
    top: 0;
    right: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
    background: rgba(39, 32, 51, 0.5);
  }

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .sidebar {
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
    }
}
  /* The sidebar links */
  .sidebar a, .account-info{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
  }
  .account-info {
    margin: 0px;
    font-size: 1rem;
  }

  .id-number {
    color:#4d4d4d;
  }

  .frame-large{
    overflow: hidden;
    height: fit-content;
    width: 50%;
    min-width: 120px;
    outline:3px solid white;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  .frame-large img {
      width: 100%;
  }
  hr {
    height: 2px;
    color: white;
  }

  .flex-container {
    font-size: 1rem;
  }
  
  /* When you mouse over the navigation links, change their color */
  .side-item:hover {
    color: #ebba34;
    background: rgba(80, 31, 161, 0.2);
  }

  /* Position and style the close button (top right corner) */
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* The button used to open the sidebar */
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s; /* If you want a transition effect */
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }